RewriteEngine On
#ErrorDocument 404 https://lead.az/404
#ErrorDocument 403 https://lead.az/403
RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ http://localhost/charity/$1 [R,L]

RewriteRule ^login$ index.php?p_req=login [L,QSA]
RewriteRule ^signup$ index.php?p_req=signup [L,QSA]
RewriteRule ^profile$ index.php?p_req=profile [L,QSA]
RewriteRule ^logout$ index.php?p_req=logout [L,QSA]
RewriteRule ^create-community$ index.php?p_req=create-community [L,QSA]
RewriteRule ^all-community$ index.php?p_req=all-community [L,QSA]
RewriteRule ^search-community$ index.php?p_req=search-community [L,QSA]
RewriteRule ^history$ index.php?p_req=history [L,QSA]
RewriteRule ^community/([a-zA-Z0-9\-_]+)$ index.php?p_req=community&cid=$1 [L,QSA]
RewriteRule ^logoutuser$ logout.php [L,QSA]


#RewriteRule ^login$ index.php?p_req=login [L,QSA]

RewriteRule ^student/([a-zA-Z0-9\-_]+)$ index.php?p_lead=certificate&cert_lead=$1 [L,QSA]

Options -Indexes
AddHandler cgi-script .pl .py .jsp .asp .htm .shtml .sh .cgi
Options -ExecCGI

<Files config.php>
  Order Deny,Allow
  Deny from all
</Files>
<Files db.class.php>
  Order Deny,Allow
  Deny from all
</Files>
<Files security.class.php>
  Order Deny,Allow
  Deny from all
</Files>
<Files site.class.php>
  Order Deny,Allow
  Deny from all
</Files>
<Files .htaccess>
  Order Deny,Allow
  Deny from all
</Files>